@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Regular';
  src: url('../../public/fonts/PPNeueWorld-Regular.ttf');
}

body {
  font-family: 'Regular';
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


